/*************************************/
/************* Common Start **********/
.corner1,
.corner2, 
.corner3, 
.corner4, 
.corner5, 
.corner6, 
.corner7, 
.corner8, 
.corner9, 
.corner10, 
.cornerExtended, 
.sideSpacing
{
	background-color: #0B1A00;
}
a , a:visited, a:link, a:active
{
	text-decoration: none;
}
a:hover
{
	text-decoration: none;	
}
/************* Common End ************/
/*************************************/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*************************************/
/******** All ANIMATIONS START *******/
/* Common Animation Styles Start */
#list
{
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
#list ul,#list li,
ul.menu_body,ul.menu_body li 
{
	list-style: none;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}
#list a
{
	position: absolute;
}
.Static_menu_head,.menu_head
{
	width: 100%;
	background: url(  'LeftMenuTopBG.JPG' );
	background-repeat: repeat-x;
	text-align: center;
	font-weight: bold;
	display:block; 
	height:23px; 
	line-height:23px; 
	color: #111111;
	text-decoration:none; 
	font-size:14px; 
}
/* Common Animation Styles End */

/* Left Menu Start */
.preloadLeft1
{
	background: url(LeftMenuTopBG.JPG);
}
.preloadLeft2
{
	background: url(LeftMenuTopBGHover.JPG);
}
.LeftMenuContainer
{
	width: 100%;
}
.menu_head
{
	cursor:pointer;	
}
a.LeftMenuHead, a.LeftMenuHead:visited, a.LeftMenuHead:link, a.LeftMenuHead:active
{	
	display:block; 
	width: 100%;
	color: #111111;	
}
a.LeftMenuStyle, a.LeftMenuStyle:visited, a.LeftMenuStyle:link, a.LeftMenuStyle:active
{
	color: #020202;
}
a.LeftMenuHead:hover,a.LeftMenuStyle:hover
{
	color: #AAA;
	font-weight: bold;
}
.menu_body
{
	display: none;
	width: 100%;
	text-align: left;
	background:#493e3b;
}
.menu_body li
{
	width: 100%;
	background:#493e3b;
}
.menu_body li a
{
	color:#FFFFFF; 
	padding:10px; 
	display:block;
}
.menu_body li a:hover
{
	padding:10px 0px 10px 0px;
	font-weight:bold;
}
.LeftMenuStyle
{
	width: 100%;
	font-size: 14px; 
	padding-left: 10px;
}
/* Left Menu End */
/******** All ANIMATIONS END *********/
/*************************************/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/****************************************************/
/* Rounded Corner div Footer.ascx Header.ascx Start */
.corner1, .corner2, .corner3, .corner4, .corner5, .corner6, .corner7, .corner8, .corner9, .corner10
{
	overflow: hidden;
	height: 1px;
	font-size: 0px;
}
.corner1
{
	margin: 0px 6px 0px 6px;
}
.corner2
{
	margin: 0px 4px 0px 4px;
}
.corner3
{ 
	margin: 0px 3px 0px 3px;
}
.corner4
{
	margin: 0px 2px 0px 2px;
}
.corner5
{ 
	margin: 0px 1px 0px 1px;
}
.corner6
{ 
	margin: 0px 1px 0px 1px;
}
.corner7
{ 
	margin: 0px 0px 0px 0px;
}
.corner8
{ 
	margin: 0px 0px 0px 0px;
}
.corner9
{ 
	margin: 0px 0px 0px 0px;
}
.corner10
{
	margin: 0px 0px 0px 0px;
}
/* Rounded Corner div Footer.ascx Header.ascx End */
/**************************************************/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/**************************************************/
/*************** Top menu Start *******************/
.preload1 {background: url(three_1.gif);}
.preload2 {background: url(three_1a.gif);}

#nav
{
	height: 35px;
	padding: 0;
	margin: 0;
	list-style: none;
	background: url(three_0.gif);
	display: block;
	background-repeat: repeat-x;
	vertical-align: top;
	text-align: left;
}
#nav li.top 
{
	display:block; 
	float:left; 
}
#nav li a.top_link
{
	display:block; 
	float:left; 
	line-height:35px; 
	color:#ccc; 
	text-decoration:none; 
	font-size:14px; 
	font-weight:bold; 
	padding:0 0 0 12px; 
	cursor:pointer;
	background: url(three_0.gif);
}
#nav li a.top_link span 
{
	float:left; 
	display:block; 
	padding:0 24px 0 12px; 
	height:35px; 
	background: url(three_0.gif) right top no-repeat;
}
#nav li a.top_link span.down 
{
	float:left; 
	display:block; 
	padding:0 24px 0 12px; 
	height:35px; 
	background: url(three_0a.gif) no-repeat right top;
}
#nav li:hover a.top_link 
{
	color:#fff; 
	background: url(three_1.gif) no-repeat;
}
#nav li:hover a.top_link span 
{
	background:url(three_1.gif) no-repeat right top;
}
#nav li:hover a.top_link span.down 
{
	background:url(three_1a.gif) no-repeat right top;
}
/* Default list styling */
#nav li:hover 
{
	position:relative; 
	z-index:2000;
}
#nav li:hover ul.sub
{
	left: 1px;
	top: 35px;
	background: #bbd37e;
	padding: 3px;
	border: 1px solid #5c731e;
	white-space: nowrap;
	width: 150px;
	height: auto;
	z-index: 300;
	display: block;
}
#nav li:hover ul.sub li
{
	display: block;
	height: 20px;
	position: relative;
	float: left;
	width: 100%;
	font-weight: normal;
}
#nav li:hover ul.sub li a
{
	display: block;
	font-size: 11px;
	height: 18px;
	width: auto;
	line-height: 18px;
	text-indent: 5px;
	color: #000;
	text-decoration: none;
	border: 1px solid #bbd37e;
}
#nav li ul.sub li a.fly
{
	background: #bbd37e url(arrow.gif);
	background-position: 140px center;
	background-repeat: no-repeat;
}
#nav li:hover ul.sub li a:hover 
{
	background:#6a812c; 
	color:#fff; 
	border-color:#fff;
}
#nav li:hover ul.sub li a.fly:hover
{
	background: #6a812c url(arrow_over.gif);
	background-position: 140px center;
	background-repeat: no-repeat;
	color: #fff;
}
#nav li:hover li:hover ul,
#nav li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover li:hover ul
{
	left:150px; 
	top:-4px; 
	background: #bbd37e; 
	padding:3px; 
	border:1px solid #5c731e; 
	white-space:nowrap; 
	width:150px; z-index:400;
	height:auto;
}
#nav ul, 
#nav li:hover ul ul,
#nav li:hover li:hover ul ul,
#nav li:hover li:hover li:hover ul ul,
#nav li:hover li:hover li:hover li:hover ul ul
{
	position:absolute; 
	left:-9999px; 
	top:-9999px; 
	width:0; 
	height:0;
	margin:0; 
	padding:0; 
	list-style:none;
}
#nav li:hover li:hover a.fly, 
#nav li:hover li:hover li:hover a.fly, 
#nav li:hover li:hover li:hover li:hover a.fly, 
#nav li:hover li:hover li:hover li:hover li:hover a.fly
{
	background: #6a812c url(arrow_over.gif);
	background-position: 140px center;
	background-repeat: no-repeat;	color: #fff;
	border-color: #fff;
} 
#nav li:hover li:hover li a.fly, 
#nav li:hover li:hover li:hover li a.fly, 
#nav li:hover li:hover li:hover li:hover li a.fly
{
	background: #bbd37e url(arrow.gif);
	background-position: 140px center;
	background-repeat: no-repeat;
	color: #000;
	border-color: #bbd37e;
}
/*************** Top menu End *******************/
/************************************************/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/************************************************/
/********* Accordion and Gallery Start **********/
/* accordion */
#accordion
{
	background-color: #9A8A85;
	text-align: left;
}
#accordion h3.TopMenu a
{
	display: block;
	color: #000;
}
#accordion h3.TopMenu a:hover
{
	color: #FFF;
}
#accordion div a
{
	color: #122B00;
}
#accordion div a:hover
{
	color: #FFF;
}
/* gallery */ /* Main CSS file is jquery.ad-gallery.css */
#gallery
{
	padding: 30px;
	background: #859D48;
}
/********* Accordion and Gallery End ************/
/************************************************/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/********* Fundamental Building Blocks Start ************/
/********************************************************/
body
{
	background: url(   'background_green.jpg' );
	background-repeat: repeat-x;
}
/* The main table of Site.master Start */
.Body
{
	width: 1024px;
}
/* The main table of Site.master End */
/* Spacing td tr start */
.sideSpacing
{
	width: 10px;
}
/* Spacing td tr end */
/*Parent.master Start */
/* The main table of Parent.master Start */
.Parent
{
	background-color: #181514;
}
/* The main table of Parent.master End */
/* The LeftNavigation, RightNavigation, BodyContent table of Parent.master Start to remove an unwanted line from ie6 */
.ParentBody
{
	background-color: #181514;
}
/* The LeftNavigation, RightNavigation, BodyContent table of Parent.master End */
/* The Left Navigation Control main td Parent.master start */
.LeftNavigationTD
{
	background-color: #181514;
}
/* The Left Navigation Control main table Parent.master End */
/* The Body Part main td Parent.master start */
.BodyContentTD
{
	background-color: #9A8A85;
}

/* The Body Part main table Parent.master End */
/* The Right Navigation Control main td Parent.master start */
.RightNavigationTD
{
	background-color: #181514;
}
/* The Right Navigation Control main table Parent.master End */
/*Parent.master End */
/********* Fundamental Building Blocks End ************/
/******************************************************/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*********************************************************************************/
/********* Header, Footer, Page Headline, row style onmouseover Start ************/
/* Header Start */
.HeaderTable /* Logo and Banner */
{
	height: 200px;
}
.Logo
{
	width: 154px;
	background: url( 'mad_scientist.gif' );
	background-repeat: no-repeat;	
}
.Banner /* Site Logo asp:image Header.ascx */
{
	width: 850px;
	background: url('banner.jpg' );
	background-repeat: repeat-x;
}
/* Header End */
/* Footer Start */
.FooterContent
{
	width: 100%;
	text-align: center;
	color: #EDEDED;
	font-size: 14px;
	font-weight: bold;
}
/* Footer End */
/* Page Headline Start */
.Headline
{
	background-image: url(   'three_0.gif' );
	background-repeat: repeat-x;
	font-family: 'times New Roman' , Times, serif;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	font-style: italic;
	color: #859D48;
}
/* Page Headline End */

/* Row Style onmouseover Start */
.highlightrow
{
	background-color: #181514 !important;
	color: #FFFFFF !important;
}
/* Row Style onmouseover End */
/* Body Passage div Start */
.bodyPassage
{
	text-align: left;
}
/* Body Passage div End */
/********* Header, Footer, Page Headline, Row Style onmouseover End **************/
/*********************************************************************************/
/*header 3*/
h2,h3{
	padding: 0;
	margin:0; 
}
.left, img{
	width: 33%;
	float: center;
}